:root {
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.33rem;
    --size-600: 1.77rem;
    --size-700: 2.36rem;
    --size-800: 3.15rem;
    --size-900: 4.2rem;
}

.image-perfil{
    border-radius: 20%;
    flex: none;
    width: 200px;       
}

.blog-item{
    display: flex;               
}

.blog-item a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #1b5e20;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1b5e20;
}
  
.blog-item a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1b5e20;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;    
}

.blog-item a:hover:after {
    transform: scaleX(1);    
    transform-origin: bottom left;
}


.hover-link {
    text-decoration: none;    
}
.hover-link:visited {
    color: #1b5e20;
}

.hover-link:hover {
    color: #f44336;
    text-decoration-color: #f44336;    
}

.ais-InstantSearch__root {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

.ais-SearchBox,
.ais-Stats {
    padding: 0 1rem;
    color: #212121;   
}

.ais-SearchBox {
    padding-top: 1rem;
}

.ais-Hits-list {
    background-color: var(--borders);
    border-bottom: 1px solid var(--borders);
    border-top: 1px solid var(--borders);
    display: grid;
    grid-area: card;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    margin-top: 2rem;
}

.ais-Hits-item {
    background-color: var(--background);
}

.ais-SearchBox input {
    border: none;            
    font-size: 1.5rem;
    border-bottom: 1px solid #f44336;
    padding: 0.5rem;
    width: 100%;    
}

.ais-SearchBox button {
    display: none;
}

.article {
    padding: 0.2rem;
}

.article p {
    padding: 0.5rem;
    margin: 0.5rem;    
}

.article ul li {
    padding-left: 2rem;
    margin: 0.5rem;
    list-style: inside;
}

.article p a {
    text-decoration: none;
    color: currentColor;
}

.article p a:hover {    
    color: #f44336;
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.3;
}
 
h1,
h2 {
  font-weight: 900;
}
 
h1 {
  font-size: var(--size-700);
}
 
h2 {
  font-size: var(--size-600);
}
 
h3 {
  font-size: var(--size-600);
}

